body {
  margin: 0;
  padding: 0;
  font-family: montserrat;
  background: linear-gradient(#ddd6f3, #faaca8);
  height: 100vh;
  overflow: hidden;

}

.wrapper {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;

}

.wrapper h1 {
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;

}

.wrapper form {
  padding: 0 40px;
  box-sizing: border-box;
}
form .text-area {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

.text-area input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.text-area label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translate(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: -5s;

}

.text-area span::before{
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
}



.wrapper button {
  font-size: 20px;
  background-color:#147594 ;
  border: #6EA1B1 1px solid;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 10px;
  width: 60%;
  margin-bottom: 10px;
}

/* div > form{
border: 2px solid slategray;
border-radius: 12px;
}

form > button{
  border-radius: 9px;
  margin: 3px 0px 1px 0.25px;
}

input#email,input#password
{
  font-size: 15px;
  text-align: center;
  width: 100%;
  border: none;
  background-color: #f1f1f1;
  margin: 10px 0px;
}


input#email:focus, input#password:focus{
  background-color: #ddd;
  border: 0px;
}

form > label {
  font-weight: bold;
} */