.title {
  width: 90%;
  margin-bottom: 10px;
}

.new-post-content {
  width: 90%;
  height: 200px;
  padding: 3px;
}
#new-title-label {
  margin-top: 10px;
  margin-bottom: 1px;
}

#new-content-label {
  margin-bottom: 1px;
}

#new-button {
  font-size: 20px;
  background-color: #147594;
  border: #6ea1b1 1px solid;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 10px;
  width: 20%;
  margin-bottom: 10px;
  color: white;
}

@media only screen and (min-width: 768px) {
  .new-post-content,
  .title {
    width: 60%;
  }
}
