.new-comment-content {
  width: 80%;
  padding: 3px;
  height: 100px;
}

#new-comment {
  border: none;
}

#add-comment-header {
  margin-bottom: 2px;
}

#submit-comment {
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .new-comment-content {
    width: 75%;
  }
}
