/* 

.section {
  background-image: url("./bg.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0 20px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 1.6;
  overflow: scroll;
}

.section h1 {
  font-size: 120px;
  line-height: 1.2;
  margin-bottom: 50px;

}

.section h3 {
  font-size: 40px;

}

.section h2 {
  font-size: 60px;
}
.section h4 {
  font-size: 60px;

}

.section .b1 {
  font-size: 20px;
  background-color:#147594 ;
  border: #6EA1B1 1px solid;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 200px;
}
.section .b2 {
  font-size: 20px;
  background-color:#147594 ;
  border: #6EA1B1 1px solid;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
}
.section .b3 {
  font-size: 20px;
  background-color:#147594 ;
  border: #6EA1B1 1px solid;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.section p {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}
  */

div.theStory {
  height: 80vh;
  width: 100vw;
  background: 0 0;
  position: relative;
  grid-area: header;
}

div.Homebg {
  position: absolute;
  z-index: 0;
  overflow: hidden;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100vh;
  grid-area: header;
}

div.image-area {
  position: absolute;
  top: 75px;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
  background-image: url("https://cdn.seeklearning.com.au/media/images/career-guide/module/programmer.jpg");
  grid-area: header;
  background-size: cover;
  background-position: center;
}

img.codeDoctor {
  object-fit: cover;
  width: 70vw;
  height: 70vh;
  margin: 0 auto;
  filter: brightness(50%);
  grid-area: header;
}

div.body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  font-size: 10px;
  height: 100vh;
  background: black;

  grid-template-areas:
    "header header header header"
    "CTA CTA CTA CTA";
}

h1.slogan {
  color: #000;
  font-size: 1.25rem;
  grid-area: header;
  margin-top: 0;
}

.slogan-area {
  position: absolute;
  top: 40%;
  left: 82%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 30%;
  height: 53vh;
  border-radius: 12px;
  background: linear-gradient(0deg, #085078, #85d8ce);
}
.content {
  height: 40vh;
  width: 100%;
  background-color: linear-gradient(90deg, #bdc3c7, #2c3e50);
  grid-area: content;
  color: white;
  font-size: 2rem;
}

.img1 {
  height: 40vh;
  width: 100%;
  background-color: red;
  grid-area: img1;
}

.content1 {
  height: 40vh;
  width: 100%;
  background: linear-gradient(90deg, #2c3e50, #bdc3c7);
  grid-area: content1;
  font-size: 2rem;
  color: white;
}

.img2 {
  height: 40vh;
  width: 100%;
  background-color: orange;
  grid-area: img2;
}

.CTA {
  height: 20vh;
  width: 100%;
  background: linear-gradient(180deg, #bdc3c7, #2c3e50);

  grid-area: CTA;
}

img.coders {
  object-fit: cover;
  height: 40vh;
}

img.owners {
  object-fit: cover;
  height: 40vh;
}

.BTN {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button.b3 {
  background: linear-gradient(146deg, #bdc3c7, #2c3e50);
  border: none;
  border-radius: 6px;
  padding: 5px 20px;
  color: white;
}

button.b3:hover {
  cursor: pointer;
}

button.b3:active {
  opacity: 0.7;
}

button.b2 {
  background: linear-gradient(146deg, #bdc3c7, #2c3e50);
  border: none;
  border-radius: 6px;
  padding: 5px 20px;
  color: white;
}

button.b2:hover {
  cursor: pointer;
}

button.b2:active {
  opacity: 0.7;
}

button.b1 {
  background: linear-gradient(45deg, #bdc3c7, #2c3e50);
  border: none;
  border-radius: 6px;
  padding: 5px 20px;
  color: white;
}

button.b1:hover {
  cursor: pointer;
}

button.b1:active {
  opacity: 0.7;
}

p.para {
  font-size: 1rem;
}

p.para1 {
  font-size: 1rem;
}
