@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500&family=Roboto:wght@100;300;400;500&display=swap");

#post-content {
  text-align: left;
  margin: 10px auto 5px auto;
  width: 88.5%;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 5px;
  font-size: 13px;
}

hr {
  margin: 5px auto;
  max-width: 90%;
  color: white;
}

#comment-content {
  text-align: left;
  margin: auto;
  width: 88.5%;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 5px;
  font-size: 13px;
}

#post-title {
  text-align: left;
  margin: 20px auto 5px auto;
  width: 90.5%;
  font: 400;
}

#username {
  text-align: left;
  margin: 5px auto;
  width: 90%;
  font-size: 15px;
}

#commenter {
  text-align: left;
  margin: 5px auto;
  width: 90%;
  font-size: 12px;
}

.timestamp {
  text-align: right;
  margin: auto;
  width: 90%;
  font-size: 12px;
}

#comments-header {
  text-align: left;
  margin: 10px auto;
  width: 90%;
}

#edit-post,
#delete-post,
#delete-comment {
  font-size: 12px;
  background-color: #147594;
  border: #6ea1b1 1px solid;
  padding: 5px 10px;
  border-radius: 10px;
  margin-top: 1px;
  width: 12%;
  margin-bottom: 1px;
  color: white;
}

@media only screen and (min-width: 768px) {
  hr,
  #post-title,
  #username,
  #commenter,
  .timestamp,
  #comments-header {
    max-width: 60%;
  }
  #post-content,
  #comment-content {
    max-width: 59%;
  }
  hr {
    margin-top: 20px;
  }
}
